body
{
    justify-content: center;
    align-items: center;
    display: flex;
    direction: rtl;
}
@font-face {
    font-family: "IRANSansWeb(FaNum)";
    src: url("https://db.onlinewebfonts.com/t/5c53f1a72f61b5b51e2ea79a22ebc38b.eot");
    src: url("https://db.onlinewebfonts.com/t/5c53f1a72f61b5b51e2ea79a22ebc38b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5c53f1a72f61b5b51e2ea79a22ebc38b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5c53f1a72f61b5b51e2ea79a22ebc38b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5c53f1a72f61b5b51e2ea79a22ebc38b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5c53f1a72f61b5b51e2ea79a22ebc38b.svg#IRANSansWeb(FaNum)")format("svg");
}
.Back
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Front
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 445px;
}
.User
{
    display: flex;
    column-gap: 10%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    -webkit-user-select: none;
    user-select: none;
}
@keyframes move {
    0%{transform: translateX(0%)}
    25%{transform: translateX(10%)}
    50%{transform: translateX(-10%)}
    75%{transform: translateX(10%)}
    100%{transform: translateX(0%)}
}
/*this is for Fname*/

.Fname-Back
{
    width: 25%;
    position: relative;
}

.label-Fname
{
    font-size: 15px;
    top: -40%;
    background-color: white;
    z-index: 1;
    right: 6%;
    position: absolute;
    font-family: "IRANSansWeb(FaNum)";
}
.Fname-input
{
    width: 100%;
    height: 30px;
    border: 1px solid #afaaaa;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-family: "IRANSansWeb(FaNum)";
    outline: none;
}

/*This is for Lname*/

.Lname-Back
{
    width: 25%;
    position: relative;
}
.label-Lname
{
    font-size: 15px;
    top: -40%;
    background-color: white;
    z-index: 1;
    right: 6%;
    position: absolute;
    font-family: "IRANSansWeb(FaNum)";
}
.Lname-input
{
    width: 100%;
    height: 30px;
    border: 1px solid #afaaaa;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-family: "IRANSansWeb(FaNum)";
    outline: none;
}
/*This is for Age*/
.Age-Back
{
    width: 25%;
    position: relative;
}

.label-Age
{
    background-color: white;
    z-index: 1;
    font-size: 15px;
    top: -40%;
    right: 6%;
    position: absolute;
    font-family: "IRANSansWeb(FaNum)";
}
.Age-input
{
    width: 100%;
    height: 30px;
    border: 1px solid #afaaaa;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-family: "IRANSansWeb(FaNum)";
    outline: none;
}
/*This is for Grade*/

.Grade-Back
{
    width: 25%;
    position: relative;
    margin-top: 4%;
}
.label-Grade
{
    background-color: white;
    z-index: 1;
    font-size: 15px;
    top: -40%;
    right: 6%;
    position: absolute;
    font-family: "IRANSansWeb(FaNum)";
}
.Grade-select
{
    width: 105%;
    height: 35px;
    border: 1px solid #afaaaa;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-family: "IRANSansWeb(FaNum)";
    outline: none;
}

/* This is for Price */
.Price-Back
{
    width: 25%;
    position: relative;
    margin-top: 4%;
}
.label-Price
{
    background-color: white;
    z-index: 1;
    font-size: 15px;
    top: -40%;
    right: 6%;
    position: absolute;
    font-family: "IRANSansWeb(FaNum)";

}

.Price-input
{
    width: 100%;
    height: 30px;
    border: 1px solid #afaaaa;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-family: "IRANSansWeb(FaNum)";
    font-feature-settings: "tnum";
    outline: none;
}


/*This is for Discount */
.Discount-Back
{
    width: 25%;
    position: relative;
    margin-top: 4%;
}
.label-Discount
{
    background-color: white;
    z-index: 1;
    font-size: 15px;
    top: -40%;
    right: 6%;
    position: absolute;
    font-family: "IRANSansWeb(FaNum)";
}

.Discount-input
{
    width: 100%;
    height: 30px;
    border: 1px solid #afaaaa;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-family: "IRANSansWeb(FaNum)";
    outline: none;
}


/*This is for Address*/
.Address-Back
{
    width: 95%;
    position: relative;
    margin-top: 4%;
}

.label-Address
{
    background-color: white;
    z-index: 1;
    font-size: 15px;
    top: -8%;
    right: 6%;
    position: absolute;
    font-family: "IRANSansWeb(FaNum)";
}

.Address-input
{

    resize: none;
    width: 100%;
    height: 132px;
    border: 1px solid #afaaaa;
    background-color: transparent;
    border-radius: 5px;
    text-align: right;
    font-family: "IRANSansWeb(FaNum)";
    outline: none;
}

.Submit-Back
{
    text-align: center;
    width: 62%;
    margin-top: 2%;

}
.Submit{
    width: 50%;
    height: 45px;
    font-family: "IRANSansWeb(FaNum)";
    transition: background-color ease 153ms;
    border-radius: 5px;
    border: 1px solid #afaaaa;
    outline: none;
    background-color: #2cf12f;
}

.Submit:hover
{
    background-color: #08d319;
}

.Submit:active
{
    background-color: #39ff13;
}

/* This is for Search */

.Search-Back
{
    width: 87%;
    position: relative;
    margin-top: 4%;
}

.label-Search
{
    background-color: white;
    z-index: 1;
    font-size: 15px;
    top: -25%;
    right: 6%;
    position: absolute;
    font-family: "IRANSansWeb(FaNum)";
}

.Search-input{
    resize: none;
    width: 100%;
    height: 50px;
    border: 1px solid #afaaaa;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-family: "IRANSansWeb(FaNum)";
    outline: none;
    position: relative;
}


/* This is for Table tag */
.Person-table
{
    border-collapse: collapse;
    border-radius: 30px 30px 0 0;
    width: 100%;
    border-style: hidden;
    box-shadow: 0 10px 10px 1px #666;
    background-color: #074887;


}

.Back-list
{
    position: absolute;
    width: 100%;
    top: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Front-list
{
   width: 90%;
}

.Tag-list
{
    text-align: center;
    font-family: "IRANSansWeb(FaNum)";
    height: 50px;
    color: white;
}

.tag
{
    width: 16%;
}

.row
{
    width: 0;
    height: 45px;
    text-align: center;
    background-color: rgba(250, 250, 250, 0.97);
    font-family: "IRANSansWeb(FaNum)";
}
.row:hover
{
    background-color: #bab8b8;
}





#icon
{
    font-size: 20px;
}
#icon:hover
{
    color: red;
}
#icon:active
{
    color: white;
}
.swal2-Title,.swal2-popup{
    font-family: "IRANSansWeb(FaNum)";
}

.Filter-Back
{
    z-index: 1;
    position:absolute;
    top: 0;
    width: 48%;
    left: -24%;
}

.Filter
{
    width: 50%;
    height: 50px;
    border: 1px solid #afaaaa;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-family: "IRANSansWeb(FaNum)";
    outline: none;
}

